.card {
    position: relative;
    height: 400px;
    width: 400px;
    transform-style: preserve-3d;
    font-size: small;
}

.card .face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: perspective(500px) rotateY(0deg);
}

.card .face.front {
    background: rgb(32, 80, 124);
}

.card:hover .face.front {
    transform: perspective(500px) rotateY(180deg);
}

.card .face.back {
    background: rgb(231, 195, 77);
    color: #fff;
    transform: perspective(500px) rotateY(180deg);
}

.card:hover .face.back {
    transform: perspective(500px) rotateY(360deg);
}

.card .face h2 {
    font-size: 4em;
    transform: perspective(500px) translateZ(50px);
    text-transform: uppercase;
}