*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: rgb(19, 123, 155);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(231, 195, 77);
    border-radius: 20px;
    border: 3px solid rgba(209, 25, 25, 0);
}